@import "./styles/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  border: black solid;
}

.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  > * {
    display: inherit;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    border: black solid;
  }
}

.intro {
  width: 100%;
  background-color: #fffff3;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 80px 0;
}

.portfolio {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  > * {
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    border: black solid;
  }
}

.portfolio__project--red {
  @include portfolioProject(#fff3f5, #ff5c5c);
}

.portfolio__project--orange {
  @include portfolioProject(#fbf4ec, #f7ab53);
}

.portfolio__project--green {
  @include portfolioProject(#f1fbf6, #3ef89b);
}

.portfolio__project--blue {
  @include portfolioProject(#ecf1fb, #5389f7);
}

.portfolio__project--yellow {
  @include portfolioProject(#fbfbec, #f7f453);
}

img {
  width: 90%;
}
